@import '../tokens/colors';
@import '../tokens/borders';


input[type='radio'].p-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 50%;
  border: $border-width-hairline $color-gray-background-disabled;
  margin: 0 !important;
  cursor: pointer;

  &:checked {
    height: 8px;
    width: 8px;
    border: 6px solid $color-brand-primary-default;
    background: #fff;

    box-sizing: content-box;
  }
}
