@import '../../borders';
@import '../../colors';

@mixin border-radius($border-radius: 4px) {
  border-radius: $border-radius;
}

@mixin border-width($border-width: $border-width-hairline) {
  border: $border-width;

  &.--border-color-brand-primary-darker {
    border-color: $color-brand-primary-darker;
  }

  &.--border-color-brand-primary-dark {
    border-color: $color-brand-primary-dark;
  }

  &.--border-color-brand-primary-default {
    border-color: $color-brand-primary-default;
  }

  &.--border-color-brand-primary-light {
    border-color: $color-brand-primary-light;
  }

  &.--border-color-brand-primary-lighter {
    border-color: $color-brand-primary-lighter;
  }

  &.--border-color-brand-secondary-default {
    border-color: $color-brand-secondary-default;
  }

  &.--border-color-brand-secondary-lighter {
    border-color: $color-brand-secondary-lighter;
  }

  &.--border-color-gray-text-darker {
    border-color: $color-gray-text-darker;
  }

  &.--border-color-gray-text-dark {
    border-color: $color-gray-text-dark;
  }

  &.--border-color-gray-text-default {
    border-color: $color-gray-text-default;
  }

  &.--border-color-gray-text-light {
    border-color: $color-gray-text-light;
  }

  &.--border-color-gray-text-lighter {
    border-color: $color-gray-text-lighter;
  }

  &.--border-color-gray-background-darker {
    border-color: $color-gray-background-darker;
  }

  &.--border-color-gray-background-disabled {
    border-color: $color-gray-background-disabled;
  }

  &.--border-color-gray-background-default {
    border-color: $color-gray-background-default;
  }

  &.--border-color-gray-background-light {
    border-color: $color-gray-background-light;
  }

  &.--border-color-gray-background-lighter {
    border-color: $color-gray-background-lighter;
  }

  &.--border-color-gray-background-input {
    border-color: $color-gray-background-input;
  }

  &.--border-color-ui-info-default {
    border-color: $color-ui-info-default;
  }

  &.--border-color-ui-info-lighter {
    border-color: $color-ui-info-lighter;
  }

  &.--border-color-ui-warning-default {
    border-color: $color-ui-warning-default;
  }

  &.--border-color-ui-warning-lighter {
    border-color: $color-ui-warning-lighter;
  }

  &.--border-color-ui-danger-default {
    border-color: $color-ui-danger-default;
  }

  &.--border-color-ui-danger-lighter {
    border-color: $color-ui-danger-lighter;
  }
}
