$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-pill: 500px;
$border-radius-circular: 50%;

$border-width-hairline: 1px solid;
$border-width-thin: 2px solid;
$border-width-medium: 3px solid;
