// COLORS

$color-brand-primary-darker: #00632f;
$color-brand-primary-dark: #009546;
$color-brand-primary-default: #00c65e;
$color-brand-primary-light: #5ae082;
$color-brand-primary-lighter: #f2f7f4;

$color-brand-secondary-darker: #07272d;
$color-brand-secondary-default: #2842bf;
$color-brand-secondary-lighter: #ebf2ff;

$color-gray-text-darker: #161922;
$color-gray-text-dark: #23252b;
$color-gray-text-default: #3c3f47;
$color-gray-text-light: #515561;
$color-gray-text-lighter: #6c7180;

$color-gray-background-darker: #abafba;
$color-gray-background-disabled: #cbced6;
$color-gray-background-default: #e4e5eb;
$color-gray-background-light: #f0f1f5;
$color-gray-background-lighter: #f7f8fa;
$color-gray-background-input: #fafbfc;

$color-ui-info-default: #02abf9;
$color-ui-info-lighter: #edf8fc;

$color-ui-warning-default: #fcc605;
$color-ui-warning-lighter: #fff9e5;

$color-ui-danger-default: #ff404c;
$color-ui-danger-lighter: #fff0f0;

// END COLORS
